@mixin btn($color, $bg-color, $width, $height, $border-radius) {
  width: $width;
  height: $height;
  color: $color;
  background-color: $bg-color;
  border: none;
  border-radius: $border-radius;
}

@mixin displayFlex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
